# Archivos basura
.vscode/
.DS_Store
.gdb_history

# Archivos generados por los tests
src/tests/data/imagenes_a_testear/*
src/tests/data/resultados_catedra/*
src/tests/data/resultados_nuestros/*


# binarios
**/__pycache__/
src/build
tp2
bmpdiff
*.o
